In [1]:
2*4

8

In [2]:
import math
math.ceil(1.1)

2

In [3]:
from math import ceil
ceil(1.1)

2

In [4]:
def double(x):
    return x*2
double(8)

16

In [5]:
sum_result=lambda x,y: x+y
sum_result(3,4)

7

In [6]:
single_quoted_string='data science'
print(single_quoted_string)
double_quoted_string="data science"
tab_string="\t"
print(tab_string)
not_tab_string=r"\t"
print(not_tab_string)
multi_line_string="""This is the first line 
and this is the second line 
and this is the third line"""
print(multi_line_string)

data science

\t
This is the first line
and this is the second line
and this is the third line

In [7]:
try:
    print(0/0)
except ZeroDivisionError:
    print("cannot divide by zero")
print(0/0)

cannot divide by zero

ZeroDivisionError: division by zero

In [8]:
integer_list=[1,2,3]
heterogeneous_list=["string", 0.1, True]
print(integer_list)
print(heterogeneous_list)
list_of_lists=[integer_list,heterogeneous_list,[]]
print(list_of_lists)
list_length=len(integer_list)
print(list_length)
list_sum = sum(integer_list)
print(list_sum)
x=[0,1,2,3,4,5,6,7,8,9]
zero=x[0]
one=x[1]
nine=x[-1]
eight=x[-2]
x[0]=-1
print(x)
first_three=x[:3]
three_to_end=x[3:]
one_to_four=x[1:5]
print(one_to_four)
integer_list[1]=0

[1, 2, 3]
['string', 0.1, True]
[[1, 2, 3], ['string', 0.1, True], []]
3
6
[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4]

In [9]:
x=[1,2,3]
x.extend([4,5,6])
print(x)
y=[1,2,3]
z=y+[4,5,6]
print(z)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [10]:
x=[1,2,3]
x.append(0)
print(x)
y=x[-1]
print(y)
z=len(x)
print(z)
w=[x]
w.append([4,5])
print(w)

[1, 2, 3, 0]
0
4
[[1, 2, 3, 0], [4, 5]]

In [11]:
x,y=[1,2]
_,y=[1,2]

In [12]:
my_tuple=(1,2)
other_tuple=3,4
try:
    my_tuple[1]=3
except TypeError:
    print("cannot modify a tuple")

cannot modify a tuple

In [13]:
def sum_and_product(x,y):
    return (x+y), (x*y)
sp=sum_and_product(2,3)
print(sp)
s,p=sum_and_product(5,10)
print(s)
print(p)

(5, 6)
15
50